.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div > h2 {
  text-shadow: 1px 1px 7px #85fe68;
  color: #00b0c8;
}

.continue {
  background: #11555F;
  text-decoration: none;
  border-radius: 20px;
  padding: .5rem 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.continue:hover {
  background: transparent;
  border: 2px solid #11555F;
  color:#11555F;
  box-shadow: 0px 0px 8px 3px #85fe68;
}